---
import {dataStructuresDeck} from '@/data/dataStructuresCards';
import Main from '../layouts/main.astro';
import { App } from '@/components/App';
---


<Main content={{title: "Data Structures"}}>
  <App client:load subject="data-structures" />
</Main>
