---
import Main from '../layouts/main.astro';
import {javascriptDeck} from '@/data/javascriptCards';
import { App } from '@/components/App';
---

<Main content={{title: "JavaScript"}}>
  <App client:load subject="javascript" />
</Main>
