---
import '@/styles/globals.css'

const { content } = Astro.props;
import {Sidebar} from '@/components/Sidebar';

const path = Astro.url.pathname;
const subject = path.split('/')[1];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css"
    />
		<title>DevCards | {content.title}</title>
	</head>

	<body class="letter bg-zinc-100">
		<main>
			<slot />
		</main>

		<style>
      @page {
        size: letter;
      }
    </style>
	</body>
</html>
